.portada2 {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.menu4-header {
    @include text3properties;
    width: 100%;
    background-color: $amarillo-mostaza;
    gap: 1rem;
}

.menu4-header_label {
    display: block;
    padding: 10px;
    cursor: pointer;
    color: $gris-carbon;
    gap: 1rem;

    .label-toggle {
        display: none;
    }

    label {
        cursor: pointer;

        &:hover {
            background-color: $amarillo-mostaza;
            color: #000000;
            align-items: center;
            
            @include box-shadow-matador ($naranja, 4px);
            
            transform: scale(1.05);
        }
    }

    .menu4-header_label_content {
        display: none;
        padding: 10px;

        p {
            color: $texto-gris;
        }
    }

    .label-toggle:checked + label + .menu4-header_label_content {
        display: block;
    }
}

.faq {
    background-color: $naranja;
    color: $texto-negro;
    max-width: 600px;
    margin: 1rem auto;
    padding: 20px;
    border-radius: 8px;

    h3 {
        color: $texto-negro;
    }

    .faq-container {
        border-top: 1px solid #ddd;
    }

    .faq-toggle {
        display: none;
    }

    .faq-container_p {
        display: none;
        padding: 10px;
        background-color: $amarillo-mostaza;
        border-radius: 8px;

        p {
            color: $gris-carbon;
        }
    }

    .faq-toggle:checked + label + .faq-container_p {
        display: block;
    }

    @media (max-width: 768px) {
        max-width: 500px;
    }

    @media (max-width: 480px) {
        max-width: 300px;
    }
}

.box {
    background-color: $amarillo-mostaza;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;

    @include box-shadow-matador ($amarillo-mostaza, 4px);

    .box-container {
        @include text3properties;
        background-color: $naranja;
        border-radius: 10px;
        width: 30%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        img {
            max-width: 100%;
            height: auto;
            border-radius: 50%;
        }

        .box-container_raiting i {
            color: gold;
        }

        @media (max-width: 768px) {
            width: 45%;
        }

        @media (max-width: 468px) {
            width: 100%;
        }
    }
}