.login-wrap {
    font-family: Arial, sans-serif;
    background-color: $texto-gris;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;

    @include maxwidth-768px {
        height: auto;
    }

    @include maxwidth-480px {
        height: auto;
    }
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include maxwidth-768px {
        width: auto;
    }

    @include maxwidth-480px {
        width: auto;
    }
}

.btn-home {
    padding: 10px 20px;
    background-color: $color-beige;
    border: none;
    border-radius: 4px;
    color: $texto-negro;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-bottom: 20px;

    &:hover {
        background-color: $color-crema;
    }
}

.login-form, .register-form {
    background-color: $color-crema;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 300px;
}

h2 {
    @include text2properties(center, $texto-negro);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid $color-marron;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: $color-beige;
    border: none;
    border-radius: 4px;
    color: $texto-negro;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $color-blanco-casi;
    }
}