.wrapper-video {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
/* Media query tablet */
@media (max-width: 768px) {
    .wrapper-video {
        padding-bottom: 75%; /* Aspect ratio 4:3 */
    }

    .container > div {
        flex: 1 1 calc(50% - 32px);
        gap: 0.2rem;
    }

    .maps iframe {
        height: 400px;
    }

    .maps p {
        padding: 0 16px;
    }
}

/* Media query celular */
@media (max-width: 468px) {
    .wrapper-video {
        padding-bottom: 100%; /* Aspect ratio 1:1 */
    }

    .container > div {
        flex: 1 1 100%;
    }

    .maps iframe {
        height: 300px;
    }

    .maps p {
        padding: 0 8px;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    gap: 16px;
    color: var(--gris-carbon);

    > div {
        flex: 1 1 calc(33.333% - 32px);
        box-sizing: border-box;
        gap: 1rem;
    }
}

.giphy-embed {
    width: 100%;
    height: auto;
}

.maps {
    background-color: var(--azul-profundo);
    width: 100%;
    margin: 0 auto;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
    }

    iframe {
        width: 100%;
        height: 450px;
        border: 0;
    }

    p {
        margin: 1rem;
        margin-top: 16px;
    }
}