.wrapper-header-menu2 {
    color: var(--gris-carbon);
    display: flex;
    gap: 1rem;
    width: 100%;
    height: auto;
    padding: 1rem;

    iframe {
        width: 50%;
    }

    p {
        width: 50%;
        text-align: justify;
    }
}

/* Media query tablet */
@media (max-width: 768px) {
    .wrapper-header-menu2 {
        flex-wrap: wrap;
        padding: 2rem;
        gap: 1rem;

        iframe,
        p {
            width: 100%;
        }
    }

    .wrapper-heading-menu2 {
        h1 {
            padding: 0.5rem;
        }
        p {
            padding: 0.5rem;
        }
        ul {
            gap: 0.5rem;
            justify-content: space-around;
            padding: 1rem;
        }
    }

    .wrapper-card {
        flex-wrap: wrap;
        gap: 1rem;

        .card {
            flex: 1 1 calc(50% - 1rem);
        }
    }

    .subscription {
        flex-direction: column;

        .subs {
            width: 100%;
        }
    }
}

/* Media query celular */
@media (max-width: 468px) {
    .wrapper-header-menu2 {
        padding: 0.5rem;
        gap: 0.5rem;

        iframe,
        p {
            width: 100%;
        }
    }

    .wrapper-heading-menu2 {
        h1 {
            padding: 0.2rem;
        }
        p {
            padding: 0.2rem;
        }
        ul {
            display: grid;
            align-items: center;
        }
    }

    .wrapper-card {
        .card {
            flex: 1 1 100%;
        }
    }

    .subscription {
        flex-direction: column;
        padding: 0.5rem;

        .subs {
            width: 100%;
        }
        .subs h3 {
            padding: 0.25rem;
        }
    }
}

.wrapper-heading-menu2 {
    background-color: var(--azul-profundo);
    padding: 1rem;

    h1 {
        text-align: center;
        padding: 1rem;
    }

    p {
        text-align: justify;
        padding: 2rem;
    }

    ul {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    }
}

.profesionals-menu2 {
    h2 {
        color: var(--gris-carbon);
        text-align: center;
        padding: 1rem;
    }
}

.wrapper-card {
    display: flex;
    width: 100%;

    .card {
        padding: 1rem;
        flex: 1 1 calc(33.333% - 1rem);
        box-sizing: border-box;

        img {
            width: 100%;
            aspect-ratio: 16/9;
        }

        h3 {
            color: var(--gris-carbon);
            text-align: center;
        }

        p {
            color: var(--verde-bosque-oscuro);
            text-align: justify;
        }

        a {
            padding: 1rem;
            color: var(--rojo-vino);
            text-decoration: underline;
            display: block;
            text-align: center;
        }
    }
}

.wrapper-subscription {
    background: var(--azul-profundo);
    gap: 2rem;
    padding: 1rem;

    h2 {
        text-align: center;
        padding-bottom: 1rem;
    }

    .subscription {
        width: 100%;
        padding: 1rem;
        display: flex;
        text-align: center;
        gap: 1rem;

        .subs {
            width: 100%;
        }

        .subs h3 {
            padding: 0.5rem;
            text-align: center;
            color: var(--verde-bosque-oscuro);
        }
    }
}
