.menu2-header {
    @include text3properties;
    background-color: $amarillo-mostaza;
    display: flex;
    gap: 1rem;
    width: 100%;
    height: auto;

    @include box-shadow ($amarillo-mostaza, 4px);

    iframe {
        width: 70%;
        height: 40vh;
    }
    p {
        width: 30%;
        text-align: justify;
        align-content: center;
        padding: 1rem 0.5rem;
    }

    @include maxwidth-768px {
        flex-wrap: wrap;
        padding: 2rem;
        gap: 1rem;

        iframe, p {
            width: 100%;
        }
    }

    @include maxwidth-480px {
        padding: 0.5rem;
        gap: 0.5rem;

        iframe,p {
            width: 100%;
        }
    }
}

.topics {
    background-color: $naranja;
    padding: 1rem;

    @include box-shadow ($naranja, 4px);

    h1 {
        @include text3properties;
    }
    p {
        @include text3properties(justify,2rem,$gris-carbon);    
    }
    ul {
        color: $texto-gris;
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    }

    @include maxwidth-768px {
        h1,p {
            padding: 0.5rem;
        }
        p {
            padding: 0.5rem;
        }
        ul {
            gap: 0.5rem;
            justify-content: space-around;
            padding: 1rem;
        }
    }

    @include maxwidth-480px {
        h1,p {
            padding: 0.2rem;
        }
        ul {
            display: grid;
            align-items: center;
        }
    }
}

.profesionals2 {
    background-color: $amarillo-mostaza;

    h2 {
        @include text2properties(center,$gris-carbon);
    }

    @include box-shadow ($amarillo-mostaza, 4px);
}

.profesionals2-card {
    display: flex;
    width: 100%;
    gap: 1rem;
    
    .profesionals2-card_card {
        padding: 1rem;
        flex: 1 1 calc(33.333% - 1rem);
        box-sizing: border-box;

        img {
            width: 100%;
            aspect-ratio: 16/9;
        }
        h3 {
            @include text2properties;
        }
        p {
            @include text2properties(justify,$texto-gris);
        }
        a {
            @include text3properties(center,1rem,$texto-rojo);
            text-decoration: underline;
            display: block;
        }
    
    @include maxwidth-480px {
        flex: 1 1 100%;
    }
    }

    @include maxwidth-768px {
        flex-wrap: wrap;
        gap: 1rem;
    
            .card {
                flex: 1 1 calc(50% - 1rem);
            }
    }
}

.subscription {
    background: $naranja;
    gap: 2rem;
    padding: 1rem;

    h4 {
        text-align: center;
        padding-bottom: 1rem;
    }

    @include box-shadow ($naranja, 4px);

    .subscription-div {
        width: 100%;
        padding: 1rem;
        display: flex;
        text-align: center;
        gap: 1rem;

        .subscription-div_offer {
            width: 100%;

            h5 {
                @include text3properties(center,0.5rem,$texto-rojo);
                height: 40px;
            }
            p   {
                color: $texto-gris;
            }
        }

    @include maxwidth-768px {
        flex-direction: column;

        .subscription-div_offer {
            width: 100%;
        }
    }

    @include maxwidth-480px {
        flex-direction: column;
        padding: 0.5rem;

        .subscription-div_offer {
            width: 100%;

            h5 {
                padding: 0.25rem;
            }
        }
    }
    }
}   