.menu1-header {
    display: flex;
    width: 100%;
    height: auto;

    img {
        width: 50%;
    }
}

.advantages {
    background-color: $color-crema;
    color: $texto-negro;
    display: grid;
    gap: 2rem;
    padding: 1rem;
    align-content: center;
    
    h2 {
        @include text3properties;
    }

    .advantages-list ul {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        gap: 2rem;
        justify-content: space-around;
        color: $texto-gris;
    
        @include box-shadow ($color-crema, 4px);

        @include maxwidth-768px{
            gap: 1rem;
            display: grid;
            justify-content: space-evenly;
        }

        @include maxwidth-480px {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @include maxwidth-768px{
        gap: 1rem;
        padding: 0.5rem;
        justify-content: space-evenly;
    }

    @include maxwidth-480px {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}

.mision {
    background-color: $color-beige;
    display: grid;
    padding: 0.7rem;
    gap: 0.7rem;
    align-content: center;

    @include box-shadow ($color-beige, 4px);

    h3 {
        @include text3properties;
    }

    article p {
        color: $texto-negro;
        padding: 0.5rem;
    }

    @include maxwidth-768px {
        padding: 0.5rem;

        h3  {
            padding-top: 0.5rem;
        }

        p {
            padding: 0.5rem;
        }
    }

    @include maxwidth-480px {
        article {
            display: block;
        }
    }
}