footer {
    color: $texto-negro;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-content: center;
    align-items: center;
    background-color: $rojo-coral;
    padding: 0 1rem;
    @include box-shadow($rojo-coral, 4px);

    p {
        gap: 1rem;
        padding: 1rem;
    }
}
