footer {
    color: $texto-negro;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-content: center;
    align-items: center;
    background-color: $verde-oscuro;

    p {
        gap: 1rem;
        padding: 1rem;
    }
}