/* Declarando los mixin */
@mixin text3properties ($text-aling:center,$padding:1rem,$texto:$texto-negro){
    text-align: $text-aling;
    padding: $padding;
    color: $texto;
}

@mixin text2properties ($text-aling:center,$texto:$texto-negro){
    text-align: $text-aling;
    color: $texto;
}

@mixin maxwidth-768px {
    @media (max-width: 768px) {
    @content;
    }
}

@mixin maxwidth-480px {
    @media (max-width: 480px) {
    @content;
    }
}

@mixin box-shadow-mixin($shadow-color, $shadow-size, $border-radius: 0) {
    box-shadow: 0 0 $shadow-size $shadow-size $shadow-color;
    border-radius: $border-radius;
}