/* Declarando los mixin */
@mixin text3properties ($text-aling:center,$padding:1rem,$texto:$texto-negro){
    text-align: $text-aling;
    padding: $padding;
    color: $texto;
}

@mixin text2properties ($text-aling:center,$texto:$texto-negro){
    text-align: $text-aling;
    color: $texto;
}

@mixin maxwidth-768px {
    @media (max-width: 768px) {
    @content;
    }
}

@mixin maxwidth-480px {
    @media (max-width: 480px) {
    @content;
    }
}

@mixin box-shadow($shadow-color, $shadow-size) {
    box-shadow: 0 0 $shadow-size $shadow-size $shadow-color;
}

@mixin box-shadow-matador($shadow-color, $shadow-size) {
    box-shadow: 
        0 0 $shadow-size $shadow-size $shadow-color,
        0 0 $shadow-size $shadow-size $shadow-color,  
        0 0 $shadow-size $shadow-size $shadow-color,  
        0 0 $shadow-size $shadow-size $shadow-color;  
}

@mixin transition-all($duration: 0.8s, $timing: ease) {
    transition: all $duration $timing;
}

@mixin icon-img {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
}

@mixin icon-link {
    display: inline-block;
    pointer-events: none;
        img {
            pointer: none;
        }
}