//Variables de color
$verde-oscuro: #264653;
$verde-azulado: #2A9D8F;
$amarillo-mostaza: #E9C46A;
$naranja: #F4A261;
$rojo-coral: #E76F51;
$negro-clasico: #000000;
$gris-carbon: #333333;

//Variables de tamaño
$altura-header: 4rem;
$padding-left-right: 1rem;
$ancho-maximo:1200px;

//Variable de color de texto
$texto-blanco: #FFFFFF;
$texto-negro: #000000;
$texto-gris: #666666;
$texto-azul: #1961aa;
$texto-rojo: #FF4500;


