// Variables de color
$color-marron: rgb(173, 139, 115);
$color-beige: rgb(206, 171, 147);
$color-crema: rgb(227, 202, 165);
$color-blanco-casi: rgb(255, 251, 233);
$negro-clasico: #000000;
$gris-carbon: #333333;

// Variable de color de texto
$texto-blanco: #FFFFFF;
$texto-negro: #000000;
$texto-gris: #666666;

//Variables de tamaño
$altura-header: 4rem;
$padding-left-right: 1rem;
$ancho-maximo:1200px;